0-introduction.pdf
/docs/.vscode
/docs/_build
/docs/generated
/CADD课程教学安排-2021.docx
.vscode/
1.分子力学优化及动力学模拟/2-MM.pdf
1.分子力学优化及动力学模拟/3-MD.pdf
1.分子力学优化及动力学模拟/上机课-MM_MD-2021.pdf
2.QSAR/4-QSAR.pdf
2.QSAR/上机课-QSAR-2021.pdf
3.AI/5-AI.pdf
3.AI/上机课-AI-2021.pdf
4.SBDD/4.上机课-SBDD-蛋白质结构与预测/上机课-SBDD-1-蛋白质结构与预测.pdf
4.SBDD/5.上机课-SBDD-2-蛋白准备及非键相互作用分析/上机课-SBDD-2-蛋白准备及非键相互作用分析.pdf
4.SBDD/6. 基于结构的药物设计（V2021）.pdf
4.SBDD/6.上机课-SBDD-4-柔性对接/6.上机课-SBDD-4-柔性对接.pdf
4.SBDD/上机课-SBDD-2-半柔性对接/上机课-SBDD-2-半柔性对接.pdf
5.LBDD/7. 基于配体的药物设计（V2021） .pdf
5.LBDD/上机课-LBDD-1-V2021/上机课-LBDD-1-V2020.pdf
5.LBDD/上机课-LBDD-2-V2021/上机课-LBDD-2-V2021.pdf
